.block_info_prems {
    position: relative;
    width: 97.5%;
    // height: 100%;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;
    overflow: auto;
    // padding-top: 0.25rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
