@import '../variables/filters.scss';
@import '../mixins/general.scss';
@import '../mixins/filters.scss';

.filters {
  @include filter_block;
  width: $block-width;
  background-color: #f1f1f1;
  padding: 30px;
  margin: 20px auto;
  border-radius: 15px;

  &__left, &__right {
    gap: 10px;
  }

  &__button {
    @include filter_button;
    margin-right: 15px;

    &--black { background-color: $button-bg-black; }
    &--orange { background-color: $button-bg-orange; }
    &--blue { background-color: $button-bg-blue; }
    &--green { background-color: $button-bg-green; }
    &--red { background-color: $button-bg-red; }

    &--black-rep {
      margin: 1.1rem;
      background-color: $button-bg-black-rep;
    }
  }
}

.reports_filter {
    @include filter_block;
    width: $block-width;
    background-color: #f1f1f1;
    padding: 30px;
    margin: 10px auto;
    border-radius: 15px;


  &__button {
    @include filter_button;
    margin-right: 24px;

    &--grey { background-color: $button-bg-grey; }
    &--purple { background-color: $button-bg-purple; }
    &--yellow { background-color: $button-bg-yellow; }
    &--cyan { background-color: $button-bg-cyan; }
  }
}


.filters__button {
  border: 2px solid transparent;
  color: white;

  &.active {
    border: 2px solid #8c52ff;
    color: white;
    opacity: 0.9;
  }
}
