@import '../variables/spinner.scss';

.sk-chase {
  transform: scale(1.2, 1.2);
  width: $spinner-width;
  height: $spinner-height;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;

  // Вложенные стили для точек
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 1.0s infinite ease-in-out both;

    &:before {
      content: '';
      display: block;
      width: $spinner-dot-width;
      height: $spinner-dot-height;
      background-color: $spinner-color;
      border-radius: 100%;
      animation: sk-chase-dot-before 1.0s infinite ease-in-out both;
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-delay: -#{1.2 - 0.1 * $i}s;
      }
    }
  }
}

@keyframes sk-chase {
  100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  } 
  100%, 0% {
    transform: scale(1.0);
  }
}
