@import 'variables/general';
@import 'variables/input';
@import 'mixins/general';

.extra-form {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.4s ease;

  label {
    display: block;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #666;

    input, select {
      width: 95%;
      padding: 0.5rem;
      margin-top: 0.45rem;
      border: none;
      border-radius: 6px;
      outline: none;
      background: #f5f5f5;
      height: $login-input-height;
      font-size: 0.9rem;

      &::placeholder {
        color: #999;
        font-weight: 700;
      }
    }

    textarea {
      width: 95%;
      padding: 0.5rem;
      margin-top: 0.45rem;
      border: none;
      border-radius: 6px;
      outline: none;
      background: #f5f5f5;
      font-size: 0.9rem;
      resize: none;

      &::placeholder {
        color: #999;
        font-weight: 700;
      }
    }
  }
}

.extra-form.visible {
  max-height: 500px;
  opacity: 1;
  transform: translateX(0);
}
