body {
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
td:first-child {
  text-align: center;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.modal {
  max-width: 100% !important;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  > main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    img {
      width: 90%;
      max-height: 90%;
    }
  }
}
.file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  input {
    display: none;
  }
  img {
    max-height: 230px;
  }
  p {
    position: absolute;
  }
}
.input {
  // max-width: 100%;
  // width: 100%;
  max-height: 100%;
  position: relative;
  input {
    // max-width: 100%;
    width: 95%;
    // min-width: 50px;
    height: 50%;
    padding: 10px 10px;
    background-color: #f1f1f1;
    border-radius: 12px;
    border: none;
    &:focus {
      outline: #e21a1c solid 2px;
      background-color: #686868;
      color: #fff;
    }
  }
  span {
    width: auto;
    // margin-right: 40px;
    position: absolute;
    // min-width: 50px;
    height: 50%;
    padding: 10px 10px;
    background-color: #f1f1f1;
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
  }
}
.div4 {
  input {
    width: 95%;
  }
}
.div28 {
  input {
    width: 70%;
  }
}
.div9 {
  width: 325px !important;
  div {
    margin-left: -30px;
  }
}

.check-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  width: 370px;
  border-radius: 12px;
  background-color: #fff;
  padding: 0px 0px 0 10px;
  h1 {
    color: #000 !important;
  }
  div {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 135px;
    background-color: #e2e2e2;
    padding-left: 10px;
    border-radius: 12px 12px 12px 12px;
    label {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    span {
      display: flex;
      max-width: 15px !important;
      min-width: 15px;
      max-height: 15px !important;
      min-height: 15px;
      border: 2px solid #999;
      background-color: white;
      border-radius: 50%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 2px !important;
      margin: 0;
    }
    .checked {
      border-color: #e21a1c !important;
      border-width: 5px;
      max-width: 10px !important;
      min-width: 10px;
      max-height: 10px !important;
      min-height: 10px;
    }
  }
}
.form-check-box {
  background-color: #f1f1f1;
  height: 46px;
  h1 {
    font-size: 16px !important;
  }
  div {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
    width: 50%;
    background-color: #e2e2e2;
    // padding-left: 10px;
    border-radius: 12px 12px 12px 12px;
    label {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    span {
      display: flex;
      max-width: 15px !important;
      min-width: 15px;
      max-height: 15px !important;
      min-height: 15px;
      border: 2px solid #999;
      background-color: white;
      border-radius: 50%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 2px !important;
      margin: 0;
    }
    .checked {
      border-color: #e21a1c !important;
      border-width: 5px;
      max-width: 10px !important;
      min-width: 10px;
      max-height: 10px !important;
      min-height: 10px;
    }
  }
}
.radio-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100px;
  gap: 10px;
  overflow: auto;
  .radio-select-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    // padding: 10px;
    border-radius: 6px;
    // background-color: #fff;
    transition: background-color 0.3s ease;
    width: 100%;

    &:hover {
      // background-color: #e0e0e0;
    }
    span {
      // font-family: Montserrat;
      font-weight: 300;
      font-style: Regular;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.39%;
    }

    // input[type="radio"] {
    //   max-width: 20px;
    //   min-width: 20px;
    //   max-height: 20px;
    //   min-height: 20px;
    //   border: 2px solid #999;
    //   border-radius: 50%;
    //   -webkit-appearance: none;
    //   -moz-appearance: none;
    //   appearance: none;
    //   padding: 2px;
    //   margin: 0;
    // }

    // input[type="radio"]:checked {
    //   border-color: #e21a1c;
    //   border-width: 5px;
    // }

    & nav {
      display: flex;
      align-items: center;
      gap: 10px;
      // justify-content: space-between;
      & > div {
        max-width: 15px !important;
        min-width: 15px;
        max-height: 15px !important;
        min-height: 15px;
        background-color: #fff !important;
        border: 2px solid #999;
        border-radius: 50%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 2px !important;
        margin: 0;
      }
    }
    .checked {
      border-color: #e21a1c;
      border-width: 5px;
      max-width: 10px !important;
      min-width: 10px;
      max-height: 10px !important;
      min-height: 10px;
    }
  }
}
.gift-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // height: 100%;
  // padding: 20px;
  main {
    max-width: 1440px;
    height: 1103px;
    width: 90%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;

    .select {
      display: flex;
      flex-direction: column;
      gap: 10px;
      // margin-bottom: 20px;
      select {
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: #f1f1f1;
        border-radius: 12px;
        border: none;
        color: #000;
        &:focus {
          outline: #e21a1c solid 2px;
          background-color: #00000092;
          color: #fff;
        }
      }
      p {
        position: absolute;
      }
    }

    .header-form {
      display: flex;
      margin-bottom: 20px;
      gap: 20px;
      div {
        background-color: #f1f1f1;
        height: 200px;
        flex: 1;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
      }
    }
    .header-passport {
      background-color: #f1f1f1;
      height: 230px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      & > div {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
    .content-form {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 10px 20px;
      justify-content: space-between;
      .div1 {
        grid-area: 1 / 1 / 2 / 5;
      }
      .div2 {
        grid-area: 1 / 5 / 2 / 9;
      }
      .div3 {
        grid-area: 1 / 9 / 2 / 13;
      }
      .div4 {
        grid-area: 1 / 13 / 2 / 17;
      }
      .div5 {
        grid-area: 2 / 1 / 3 / 5;
      }
      .div6 {
        grid-area: 2 / 5 / 3 / 7;
      }
      .div7 {
        grid-area: 2 / 7 / 3 / 10;
      }
      .div8 {
        grid-area: 2 / 10 / 3 / 13;
      }
      .div9 {
        grid-area: 2 / 13 / 3 / 17;
      }
      .div10 {
        grid-area: 3 / 1 / 4 / 5;
      }
      .div11 {
        grid-area: 3 / 5 / 4 / 9;
      }
      .div12 {
        grid-area: 3 / 9 / 4 / 11;
      }
      .div13 {
        grid-area: 3 / 11 / 4 / 13;
      }
      .div14 {
        grid-area: 3 / 13 / 4 / 17;
      }
      .div15 {
        grid-area: 4 / 1 / 5 / 4;
      }
      .div16 {
        grid-area: 4 / 4 / 5 / 6;
      }
      .div17 {
        grid-area: 4 / 6 / 5 / 8;
      }
      .div18 {
        grid-area: 4 / 8 / 5 / 11;
      }
      .div19 {
        grid-area: 4 / 11 / 5 / 14;
      }
      .div20 {
        grid-area: 4 / 14 / 5 / 17;
      }
      .div21 {
        grid-area: 5 / 1 / 6 / 3;
      }
      .div22 {
        grid-area: 5 / 3 / 6 / 5;
      }
      .div23 {
        grid-area: 5 / 5 / 6 / 8;
      }
      .div24 {
        grid-area: 5 / 8 / 6 / 10;
      }
      .div25 {
        grid-area: 5 / 10 / 6 / 12;
      }
      .div26 {
        grid-area: 5 / 12 / 6 / 13;
      }
      .div27 {
        grid-area: 5 / 13 / 6 / 16;
      }
      .div28 {
        grid-area: 5 / 16 / 6 / 17;
      }
    }
    footer {
      display: flex;
      align-items: center;
      gap: 20px;
      height: 70px;
      background-color: #f1f1f1;
      margin-top: 20px;
      border-radius: 12px;
      padding: 20px;
      button {
        cursor: pointer;
        background-color: white;
        border: none;
        padding: 20px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 30px;
        }
      }
    }
    h1 {
      font-family: sans-serif;
      font-weight: 400;
      font-style: Regular;
      font-size: 17.6px;
      line-height: 22px;
      letter-spacing: 1.56%;
      display: flex;
      align-items: center;
      color: #bdbdbd;
    }
  }
}
.my-applications {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // height: 100%;
  // padding: 20px;
  > main {
    max-width: 1440px;
    height: 1103px;
    width: 90%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    .my-applications-header {
      display: flex;
      gap: 15px;
      button {
        border-radius: 12px;
        padding: 10px 40px;
        background-color: #999;
        color: #fff;
        border: none;
        font-size: 16px;
        cursor: pointer;
        &:last-child {
          background-color: #e21a1c;
        }
      }
    }
    .my-applications-sub-header {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 20px;
      .input {
        display: flex;
        align-items: center;
        width: 80px;
      }
    }
    .my-applications-content {
      margin-top: 20px;
      overflow: auto;
    }
  }
}

.applications-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // height: 100%;
  // padding: 20px;
  > main {
    max-width: 1440px;
    height: 1103px;
    width: 90%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    .my-applications-header {
      display: flex;
      gap: 15px;
      button {
        border-radius: 12px;
        padding: 10px 20px;
        background-color: #999;
        color: #fff;
        border: none;
        font-size: 16px;
        cursor: pointer;
      }
      .filter {
        background-color: #999;
      }
      .edit{
        background-color: #6b3dcf;
      }
      .save{
        background-color: #2566e8;
      }
      .Unloading{
        background-color: green;
      }
      .Report{
        background-color: green;
      }
      & > div {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        .input {
        // height: 46px;
        display: flex;
        align-items: center;
        height: 60%;
        width: 300px;
        input{
          height: 100%;
        }
      }
      button{
        padding: 10px 40px;
        height: 100% !important;margin-left: -30px;
        background-color: #e21a1c;
      }
      }
      
      .select {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // margin-bottom: 20px;
        select {
          width: 100%;
          height: 50px;
          padding: 10px;
          background-color: #f1f1f1;
          border-radius: 12px;
          border: none;
          color: #000;
          &:focus {
            outline: #e21a1c solid 2px;
            background-color: #00000092;
            color: #fff;
          }
        }
        p {
          position: absolute;
        }
      }
    }
    .my-applications-sub-header {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 20px;
      .input {
        display: flex;
        align-items: center;
        width: 80px;
      }
      
    }
    .my-applications-content {
      margin-top: 20px;
      overflow: auto;
      
    }
  }
}
