@import 'variables/general';
@import 'variables/input';
@import 'mixins/general';

body {
    margin: 0;
    padding: 0;
}

.login-container {
  @include flex-center;
  margin: 8%;
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;

  label {
    display: block;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #666;

    input {
      width: 95%;
      padding: 0.5rem;
      margin-top: 0.45rem;
      border: none;
      border-radius: 6px;
      outline: none;
      background: #f5f5f5;
      height: $login-input-height;
      font-size: 0.9rem;

      &::placeholder {
          color: #999;
          font-weight: 700;
      }
    }

    .toggle-password-visibility {
      position: absolute;
      right: 10px;
      top: 60%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      color: #666;
      font-size: 1.2rem;
      line-height: 1;
      width: auto;
      height: auto;

      &:hover {
        background: none;
      }
    }
  }

  .image-logo-login {
    margin-bottom: 1.5rem;
  }

  button {
    width: 100%;
    padding: 0.75rem;
    background-color: #ae86ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background-color: #ab6aff;
    }
  }
}

.error {
  color: #e21a1c;
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
}
