$button-bg-orange: #ff914d;
$button-bg-blue: #004aad;
$button-bg-green: #1ba553;
$button-bg-black: #000001;
$button-bg-red: #e31919;
$button-bg-grey: #a6a6a6;
$button-bg-purple: #c31414;
$button-bg-yellow: #f1ae48;
$button-bg-cyan: #0097b2;
$button-bg-black-rep: #1c1c1c;
$button-bg-aqua: rgb(32, 167, 167);
$button-bg-purple-bright: rgb(82, 32, 167);
$block-width: 92%;
