// general.scss
$primary-color: var(--primary-color);
$primary-hover: var(--primary-hover);
$background: var(--bg-color);
$text-color: var(--text-color);
$border-color: var(--border-color);
$primary-opacity: 0.85;
$general-width: 100%;
