@import 'general.scss';


@mixin filter_block {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 20px;
}

@mixin filter_button {
  padding: 3px 28px;
  height: 40px;
  border: none;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;

  &:hover {
    @include hover-opacity;
  }

  &:active {
    outline: none;
    border-color: rgb(151, 98, 254);
    box-shadow: 0 0 0 15px rgb(151, 98, 254, 0.2);
    transform: scale(0.95);
  }
}

@mixin filter-container-table {
  position: relative;
  padding-top: 30px;

  .filters__title {
    position: absolute;
    top: 10px;
    left: 18px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding-bottom: 10px;
  }

  .filters__left {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}
