@import '../variables/general.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-opacity {
  opacity: $primary-opacity;
  transition: 0.2s;
}

@mixin font {
  font-weight: 470;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin input-focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

