@import '../variables/general.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-opacity {
  opacity: $primary-opacity;
  transition: 0.2s;
}

@mixin font {
  font-weight: 470;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
